.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.brandName {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #042747;
    margin: 0;
    font-weight: 400;
}

.brandHighlight {
    font-weight: bold;
    color: #2C76C9;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #454545;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;
    max-width: 441px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #042747;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
    max-width: 441px;
}

.roleSelection {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 441px;
}

.roleCard {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #E9F3F9;
}

.selected {
    border: 2px solid #4DADFE !important;
}

.roleText {
    font-size: 14px;
    margin-top: 0.5rem;
    color: #5F6E74;
}

.selectedText {
    color: #2F53EA;
    font-weight: bold;
}

.form {
    width: 100%;
    max-width: 441px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #5F6E74;
    font-weight: 400;
}

.input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #E9F3F9;
    font-size: 14px;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 0.1rem;
}

.submitButton {
    height: 45px;
    font-size: 16px;
    background-color: #0088CE;
    border-radius: 4px;
    box-shadow: 4px 6px 10px rgba(0, 136, 206, 0.12);
    margin-top: 0.5rem;
}

.existingUserText {
    margin-top: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

@media (max-width: 768px) {
    .registerContainer {
        padding: 1rem;
        justify-content: flex-start;
        padding-top: 2rem;
    }

    .title,
    .subtitle {
        text-align: center;
    }

    .roleSelection {
        display: flex;
        justify-content: center;
    }
}