.gauge {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.scoreText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 32px;
    font-weight: 600;
    color: #1a1a1a;
}

.scoreInfo {
    text-align: center;
    margin-top: 20px;
}

.csp1 {
    font-size: 14px;
    color: #626D8A;
    margin: 0;
}

.csp {
    font-weight: 600;
    font-size: 16px;
}

.excellentColor {
    color: #30BF78;
}

.goodColor {
    color: #FAAD14;
}

.poorColor {
    color: #F4664A;
}