.dshboard {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.maindashboard123 {
  display: flex;
  width: 100%;
  height: 100%;
}

.dashhome234 {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.namecontent {
  margin-bottom: 30px;
}

.nameshown {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0 0 8px 0;
}

.statusshown {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.application {
  min-height: 400px;
}

.appprofileres {
  min-height: 400px;
}

@media (max-width: 768px) {
  .maindashboard123 {
    flex-direction: column;
  }
  
  .boxes {
    grid-template-columns: 1fr;
  }
  
  .row2 {
    grid-template-columns: 1fr;
  }
}

.boxes {
  display: flex;
  margin-left: 28px;
  margin-top: 20px;
  /* padding-right: 20px; */
  justify-content: space-between;
}

.appprofileres {
  display: flex;
  margin-top: 20px;
  border-radius: 8px;

}

.row2 {
  display: flex;
  margin-left: 28px;
  justify-content: space-between;
  max-height: fit-content;
}

.contents {
  margin-left: 20px;
}


@media (max-width: 768px) {
  .dshboard {
    flex-direction: column;
  }

  .contents {
    margin-left: 0;
    padding: 10px;

  }

  .boxes {
    flex-direction: column;
  }

  .row2 {
    flex-direction: column;
  }

  .appprofileres {
    margin-left: 220px;
  }
}

.search1234bar {
  
  width: 1650px;

}

.maindashboard123 {
  display: flex;
}


#application {
  margin-left: -280px;
  width: 1132px;
  height: 484px;

  border-radius: 8px;
  border: 1px;

}

#namecontent{
  margin-left: 40px;
}

.statusshown{
  color: #626D8A;
}
.nameshown{
color: #08084A;
font-family:Roboto;
font-size: 24px;
font-weight: 430;
line-height: 34px;
letter-spacing: 0px;
text-align: left;

}