.background {
    background-color: #2F53EA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
    padding: 2rem;
}

.content {
    z-index: 2;
    text-align: center;
    max-width: 600px;
}

.logo {
    width: 100px;
    /* Adjust as needed */
    height: auto;
    margin-bottom: 2rem;
}

.welcome {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    /* Responsive font size */
    line-height: 1.2;
    margin-bottom: 1rem;
}

.brandHighlight {
    font-weight: bold;
}

.subText {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.image {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}